

<div class="container">
  <div class="video-thumbnail"> 
        <img src="" width = "200" height = "150"></img>
    </div>
    <div class="details" >
        <div class="author">
            <img src="https://images.unsplash.com/photo-1525609004556-c46c7d6cf023?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y2Fyc3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80">
        </div>
        <div class="title" > 
            <h3 > {{this.title}} </h3>
            <h2> {{this.description}}</h2>
            <a href="" name="id"> {{this.id}}</a>
            <span >{{this.createdAt}}</span>
        </div>
    </div>
</div>